.wrapper {
  height: calc(100% - 100px);
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  overflow: auto;
  img {
    margin: 16px;
    cursor: pointer;
    transition: transform 0.2s; /* Animation */
    height: fit-content;
  }
  img:hover {
    transform: scale(1.1);
  }
  h2 {
    padding: 40px 0;
  }
}
